h1{
	color: white;
	font-size: 60px;
	border: dashed;
	border-color: white;
	text-align: center;
	background-color: black;
}
#cv{
	background-color: lightgray;
	width: 420px;
	height: 580px;
	left: 900px;
	position: absolute;
}
.blue_font{
	color: blue;
	font-style: italic;
}
strong{
	font-size: 30px;
}
em{
	color: red;
}
em1{
	color: green;
	font-style: italic;
}
em2{
	color: purple;
	font-style: italic;
}
